@import '../styles/utils';

.btnWrap{
  display: flex;
  justify-content: space-around;
  height:  20%;

  &__btn{
    @include btn-style;
    width: 30%;
    height: 90%;

    &:hover{
      @include btn-hover;

      div{
        background-color: #fff;
        color:#000;
      }
    }
    &:active{
      @include btn-active;
    }
    
    div{
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: .5rem;
      width: 100%;
      height: 80%;
      color: white;
    }

    .rock{
      background-color: #000;
      -webkit-mask: url(../img/바위.svg) no-repeat center;
      mask: url(../img/바위.svg) no-repeat center;
    }

    .paper{
      background-color: #000;
      -webkit-mask: url(../img/보.svg) no-repeat center;
      mask: url(../img/보.svg) no-repeat center;
    }

    .scissors{
      background-color: #000;
      -webkit-mask: url(../img/가위.svg) no-repeat center;
      mask: url(../img/가위.svg) no-repeat center;
    }
  }

  &__start{
    width: 80%;
    height: 80%;
    margin: auto;
    font-size: 5rem;
  }
}