@import '../styles/utils';

.dpWrap{
  width: 100%;
  height: 80%;
  position: relative;
  text-align: center;

  &__comPick{
    @include center-center;

    width: 80%;
    display: flex;
    justify-content: center;

    img{
      width: 90%;
      height: 85%;
      transform-origin: center 45.7%;
      animation: img-spin infinite 180s linear;
    }
    .speed{
      animation: img-spin infinite 3s linear;
    }
  }

  &__result{
    @include center-center;

    width: 80%;
    animation: slide-up .4s ease-in-out;

    div{
      width: 100%;
      height: 12rem;
      text-align: center;
      font-size: 4rem;
      line-height: 12rem;
      color: black;
      background: white;
      border: 1px solid black;
      opacity: .9;
      animation: big-small 1s ease 1 .5s ;
    }
  }
}
